body {
  font-family: roboto;
  margin: 0;
}
.container, .row {
  margin: 0 auto;
  padding: 0;
}

.img_container {
  position: relative;
  width: 300px;
  margin: 0 auto;
  padding: 0;
}

.imagen {
  width: 300px;
}

figure {
  margin: 0;
}

.texto_superior {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  cursor: move;
}

input,
select,
button {
  margin: 0.4rem;
}

